{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

    {% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% include "admin-header.html" %}
    {% endblock header %}

    {% block content %}
    <div class="container admin">
        <div class="row">
            <h3 class="form-signin-heading">Dashboard</h3>
            <hr />
            <br />
            <div class="col-md-5">
                <h4>Recent Posts</h4>
                <div class="list-group">
                    {% for post in latest_blog_posts %}
                    <a href="{% url 'edit' post.slug %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ post.title }}</h4>
                        <p class="list-group-item-text">Status: {{ post.get_status_display }}, {% if post.status == 1 %}Modified: {{ post.modified|date:"d/m/Y H:i" }}{% else %}Published: {{ post.publish|date:"d/m/Y H:i" }}{% endif %}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <h4>Site Pages</h4>
                <div class="list-group">
                    {% for page in website_pages %}
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ page.title }}</h4>
                        <p class="list-group-item-text">Status: {{ page.get_status_display }}, Modified: {{ page.modified|date:"d/m/Y H:i" }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}